$break-small: 510px;
$break-large: 511px;

$table-colour: #bc5617;
$table-columns: (3%, 3%, 16%, 18%, 10%, 17%, 20%, 13%);

$defaultC:		$table-colour;
$lighter:		lighten($table-colour, 10%);
$lightest:	lighten($table-colour, 20%);
$darkest:	darken($table-colour, 20%);

$nthOddC:	lighten($table-colour, 65%);
$nthEvenC:	lighten($table-colour, 55%);

$lightText: #ffe;
$darkText: #111;

@mixin browserSupport($propName, $propVar){
	-webkit-#{$propName}: $propVar;
	-khtml-#{$propName}: $propVar;
	-moz-#{$propName}: $propVar;
	-ms-#{$propName}: $propVar;
	#{$propName}: $propVar;
}

@mixin button-css($colour, $text, $height: 50%, $width: 70% ){
  height: $height;
  width: $width;
	background-image: linear-gradient(-13deg, $colour 10%, lighten($colour, 20%) 56%),
										linear-gradient(274deg, $colour, lighten($colour, 20%));
  border: 2px ridge lighten($colour, 20%);
  margin:auto;
  text-align: center;
  padding: 2px 2px;
  border-radius: 3px;
  display: flex;
  box-shadow: 0 0px 1px 1px #000;

	span{
				font-weight: bold;
				font-size: 14px;
				margin: auto;
				color:$lightText;
        @include height-width(auto, auto);
				&:after{
					content: $text;
				}
			}

	&:hover{
		@include browserSupport(filter, brightness(120%));
    cursor: pointer;
	}
	&:active{
		@include browserSupport(filter, brightness(85%));
	}
}

.inactive-button{
	@include browserSupport(filter, grayscale(100%) !important)
	&:hover{
		@include browserSupport(filter, brightness(100%) grayscale(100%) !important);
		cursor: default !important;
	}
	&:active{
		@include browserSupport(filter, brightness(100%) grayscale(100%) !important);
	}
}



@mixin height-width($height: 100%, $width: 100%) {
	height: $height;
  width: $width;
}

html, body, #root{
	margin: 0 auto;
	font-family: Courier New;
	max-width:900px;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
	display: none;
}


.screen{
  height: 100%;
  width: 100%;

	.header{
		@include height-width(17%, 100%);

		.logo-cointainer{
			@include height-width(100%, 100%);
		  display: inline;
		  float: left;
			.logo-flex-cointainer{
				@include height-width();
				display:flex;
				.logo{
					@include height-width(100%, auto);
					margin: auto;
				}
			}
		}
	}

  .image-container{
    .error_occurred, .table_loading{
     margin:auto;
     display: block;
     @include height-width(100%,auto);
    }
  }

	.table{
		@include height-width(80%, 100%);
    margin-top: 2%;

    [class^="th-"],[class^="td-"] {
      display: inline;
      float: left;
      overflow:hidden;
      box-sizing: border-box;
      padding: 2px;
    }
    [class^="tr-"] {
      display: inline;
      float: left;
      overflow:hidden;
      box-sizing: border-box;
    }

		.theads{
			@include height-width(17%, 100%);

			.thead-options{
				@include height-width(30px, 100%);

				.tr-options{
					@include height-width();

          [class^="th-"]{
						.searchNameTxt, .cryptoTypeSelect,
						.filterCur, .filterTotal, .setInterval{
							width:4em;
							margin: auto;
							padding: 2px 0;
							display: block;
						}
						.setInterval{
							margin: 0 -4px 0 5px;
							width:2.5em;
						}
						.setIntervalLabel{
							margin-top: 2px;
    					margin-right: -6px;
						}
						.setIntervalLabelMins{
							font-size: 12px;
							margin-top: 10px;
							margin-left: 6px;
						}
						.setIntervalLabel, .setInterval, .setIntervalLabelMins{
							float: right;
						}
						.searchNameTxt{width:7em !important;}
						.compareButton{
              float:left;
							@include button-css($defaultC, "", auto, auto );
							margin: 0 5px;
              min-width: fit-content;
              span{
                    white-space: nowrap;
              }
						}
					}

          [class^="th-"]:first-child {
            border-left: none;
          }

          $widths: (12%, 8%, 64%, 8%, 8%);
          @for $i from 1 through length($widths) {
            $width: nth($widths, $i);
            [class^="th-"]:nth-child(#{$i}){
              width: $width;
  					}
        	}
				}
			}
			.thead-navigation{
				@include height-width(40px, 100%);
        border: 1px solid $lightest;
				    box-sizing: border-box;

				.tr-headNavigation{
					@include height-width();
          background-color: $nthEvenC;

					.th-linkBack{
						@include height-width(100%, 10%);
						    display: flex;

						.linkBack{
              @include button-css($defaultC, "", 20px, 20px );
							img.paging_arrow{
								margin: auto;
								@include height-width();
								filter: invert(100);
								transform: rotateZ(180deg);
							}
						}
					}
					.th-linkMiddle{
						@include height-width(100%, 80%);
						    line-height: 40px;
						.linkMiddle{
							margin:auto;
							height:auto;
							color:$darkText;
              text-align: center;
              font-weight: bold;
							span{
									font-size:20px;
								}
						}
					}
					.th-linkForward{
						@include height-width(100%, 10%);
								display: flex;

						.linkForward{
              @include button-css($defaultC, "", 20px, 20px );
							img.paging_arrow{
								margin: auto;
								@include height-width();
								filter: invert(100);
							}
						}
					}
				}
			}
			.thead-headers{
				@include height-width(30px, 100%);

				.tr-headTitles{
					@include height-width();
          background: $defaultC;
          @include browserSupport('background', linear-gradient(to bottom, $lightest 0%, $lighter 66%, $defaultC 100%));
          border-bottom: 2px solid $darkest;

                %andActive{ &:active{ .sortingArrow{
                  @include browserSupport(filter, invert(80%) !important);
                } } }
          %div_sort_arrs{ div.sort-arrs{
							display: flex;
              @include height-width(100%, 20%);
              cursor:pointer;
              img.sortingArrow{
    						margin: auto;
                @include height-width(8px,12px);
                @include browserSupport(filter, invert(100%));
                @extend %andActive;
              }
              @extend %andActive;
            } }

          [class^="th-"]:first-child {
            border-left: none !important;
          }

          @for $i from 1 through length($table-columns) {
            $width: nth($table-columns, $i);
            [class^="th-"]:nth-child(#{$i}){
              @include height-width(100%, $width);
							box-sizing: border-box;
              font-size: 13px;
						  font-weight: bold;
							line-height: 23px;
						  color: $lightText;
						  text-align: center;
						  border-left: 2px solid $defaultC;
              border: 1px solid $lightest;

							span{
								top:50%;
								height:50%;
							}

							@if $i < 3 {
                span{
  	              width:100%;
                }
              }
              @else if $i < 8 {
                span{
									width:80%;
	                float:left;
  								display: block;
	              }
                @extend %div_sort_arrs;
              }
              @else if $i == 8 {
                div.timescale_head{
  								float:left;
  								width:80%;
  								display: block;
  								span{
  	                float:left;
  									width:60%;
  		              display: block;
  								}
  								select.timeScaleSelectChange{
										cursor:pointer;
										width:40%;
				    				-webkit-appearance: none;
  								}
              }
							@extend %div_sort_arrs;
  					}
        	 }
				  }
			  }
		  }
    }
		.tbody{
			@include height-width(83%, 100%);
      overflow-y: scroll;

      .flip {
    		transform: rotateY(180deg);
        perspective: 5000px;
    	}

			.flipper{
				@include height-width();
        transition: 1s;
      	transform-style: preserve-3d;

        .front, .back{
          backface-visibility: hidden;
        }

        .front{
      		transform: rotateY(0deg);
      	}
      	.back{
      		transform: rotateY(180deg);
      	}

				.front{
					@include height-width();

					.tbody-coinslist{
						@include height-width();

						.responseMessage{
							margin-top:20px;
							text-align: center;
							span{}
						}

						.tr-coininfo{
							@include height-width(auto, 100%);

              @for $i from 1 through length($table-columns) {
                $width: nth($table-columns, $i);
  	            [class^="td-"]:nth-of-type(#{$i}) {
                  @include height-width(22px, $width);
  								font-size: 13px;
  								text-overflow: ellipsis;
  								white-space: nowrap;

                  border-bottom: 1px solid $lightest;
        					border-left: 1px solid $lightest;
        					overflow: hidden;

									@if $i == 1{
											display: flex;
											input{margin:auto !important;}
									}
		              @else if $i == 2{
										text-overflow: unset;
										white-space: unset;
									}
		              @else if $i == 3 {
                    text-align: left;
                    span{
                      margin:auto;
      								@include height-width(auto, 80%);
										  display: inline;
										  float: left;
      							}
                    .coinLogo{
                      @include height-width(16px, 20%);
											display: inline;
										  float: left;
                      min-width: 16px;
                      img{
                        margin:auto;
                        display:block;
        							}
                    }
                  }
                  @else if $i > 3 {
                    text-align: right;
                  }
                  @if $i == 8 {
                    font-weight: bold;
                    border-right: 1px solid $lightest;
                    text-align: center;
                    font-weight: bold;
                  }
        					span{
        						white-space: nowrap;
        						overflow: hidden;
        						text-overflow: ellipsis;
        					}
  	            }
  	          }

						}
						[class^="tr-"]:nth-child(even) {
              background: $nthEvenC;
            }
						[class^="tr-"]:last-child {
              margin-bottom:200px;
            }

					}
				}
				.back{
					@include height-width();
					position:absolute;
					top:0;
					.logo-container{
						@include height-width();
						display:flex;

						.logo-image{
							@include height-width(50%, auto);
							margin:auto;

						}
            .logo-image-spin{
              animation-name: rotate;
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
            @keyframes rotate {
            from {transform: rotateY(-90deg);}
            to {transform: rotateY(90deg);}
            }
					}
				}
			}
		}
	}
}
